In [1]:
import pandas as pd 
# import transformers
import re
from sklearn.feature_extraction.text import TfidfVectorizer

import numpy as np

2022-09-23 10:13:58.711286: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-09-23 10:13:58.711331: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
punctuation = '!"#$%&\'()*+,-./:;<=>?@\\^_`{|}~“”'

In [110]:
def preprocess_text(text):
    text = text.lower()  # Lowercase text
    text = re.sub(f"[{re.escape(punctuation)}] ", "", text)  # Remove punctuation
    text = " ".join(text.split())  # Remove extra spaces, tabs, and new lines
    text = re.sub(r'http\S+', '', text)

    return text

def mask_tokens(mask_with, text):
    tokens = text.split(" [break] ")
    tokens.pop(1)
    masked = " [MASK] ".join(tokens)
    return masked


def no_masks(mask_with, text):
    tokens = text.split(" [break] ")
    tokens.pop(1)
    masked = " ".join(tokens)
    masked = re.sub(f"break", "", masked)  # Remove punctuation
    return masked

In [10]:
dff = pd.read_csv("/scratch/venia/web2wiki/data/tag_info_clean4.csv")

In [11]:
dff = dff.dropna(subset=["nbhd_text"])
print(len(dff))

243630

In [111]:
dff["clean_text"]=dff["nbhd_text"].apply(lambda x: preprocess_text(str(x)))
dff = dff[dff["clean_text"].apply(lambda x: x.split(" [break] ")).map(len)>1]
dff["masked_text"] = dff[["clean_text","order"]].apply(lambda x: no_masks(x["order"], x["clean_text"]),axis = 1)
print(len(dff))

230268

In [112]:
df = dff.groupby("order").sample(5000)

In [113]:
df = df.drop_duplicates(subset = "domain")

In [114]:
text = df.groupby("order")["masked_text"].apply(lambda x: " ".join(x))

In [71]:
tfidf = TfidfVectorizer(stop_words = "english", ngram_range = (1,2))
df_tfidf = pd.DataFrame(tfidf.fit_transform(text).toarray(), columns = tfidf.get_feature_names_out())

In [121]:
df_tfidf.T.sort_values(by = 1).tail(20)

                  0         1         2
good       0.014273  0.056921  0.073430
read       0.042820  0.057839  0.088798
known      0.022837  0.058757  0.042692
que        0.015701  0.058757  0.083676
world      0.054238  0.060593  0.063184
way        0.024265  0.060593  0.058061
make       0.031401  0.066101  0.025615
el         0.027119  0.066101  0.039276
city       0.027119  0.067019  0.011954
just       0.025692  0.070692  0.099044
use        0.085640  0.076200  0.080260
people     0.029974  0.088135  0.085383
used       0.035683  0.093643  0.066599
time       0.032829  0.098234  0.076845
en         0.059948  0.113841  0.097337
la         0.057093  0.123940  0.102460
wikipedia  0.202681  0.130366  0.150274
new        0.048529  0.134039  0.040984
like       0.037111  0.145056  0.172474
break      0.365396  0.244208  0.131490

In [115]:
first_order = dff[dff["order"] == 1]

In [116]:
first_order["attribution"] = first_order["wiki_links"].apply(lambda x: "attribution" if "File:" in x else 0)

/tmp/ipykernel_2608915/4144591462.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_order["attribution"] = first_order["wiki_links"].apply(lambda x: "attribution" if "File:" in x else 0)

In [128]:
first_order.columns

Index(['Unnamed: 0', 'url', 'wiki_links', 'is_tag_footer', 'is_tag_header',
       'is_tag_aside', 'is_tag_nav', 'is_tag_sup', 'is_tag_cite',
       'is_class_footer', 'is_class_header', 'is_class_sidebar',
       'is_class_comment', 'previous_header', 'nbhd_text', 'is_wiki',
       'is_blog', 'is_reference', '0th_order', 'evidence', '2nd_order',
       'order', 'domain', 'domain_count', 'clean_text', 'masked_text',
       'attribution', 'first_class'],
      dtype='object')

In [129]:
first_order["first_class"] = first_order.apply(lambda x: "attribution" if x["attribution"] != 0 else "evidence" if x["is_tag_cite"] != 0 else "ws",axis =1)

/tmp/ipykernel_2608915/2456153502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_order["first_class"] = first_order.apply(lambda x: "attribution" if x["attribution"] != 0 else "evidence" if x["is_tag_cite"] != 0 else "ws",axis =1)

In [130]:
text2 = first_order.groupby("first_class")["masked_text"].apply(lambda x: " ".join(x))

In [131]:
tfidf = TfidfVectorizer(stop_words = "english", ngram_range = (1,2),max_features = 20000)
tfidf_1 = pd.DataFrame(tfidf.fit_transform(text2).toarray(), columns = tfidf.get_feature_names_out(), index = text2.index)

In [132]:
tfidf_1.T.sort_values(by = "evidence").tail(20)

first_class    attribution  evidence        ws
january 2018      0.000000  0.093649  0.000181
1029              0.000000  0.102568  0.000020
cs1 maintref      0.000000  0.107027  0.000060
metro             0.005446  0.107358  0.025818
journal           0.003631  0.110822  0.007978
doi 10            0.003631  0.110822  0.000561
doi               0.005446  0.112553  0.001402
cs1               0.000000  0.120406  0.000140
10 1029           0.000000  0.134864  0.000000
978               0.000000  0.147162  0.003611
original          0.032678  0.147185  0.026753
january           0.007262  0.150648  0.016127
link              0.018154  0.167964  0.029994
harv link         0.000000  0.196216  0.000020
maintref          0.000000  0.205135  0.001063
maintref harv     0.000000  0.205135  0.001023
harv              0.000000  0.205135  0.001124
英语 英语             0.000000  0.280946  0.010714
英语                0.000000  0.289865  0.010955
10                0.108926  0.477918  0.062855